version: "1.0"
mixer:
  services:
    - service_type: "camera"
      camera:
        index: 2
      read_delay: 1.0
    - service_type: "interaction"
      interactor:
        software: "obs"
        host: "localhost"
        port: "4455"
        password: ${OBS_PASSWORD}
      slide_scenenames:
        - "FULL PPT"
        - "PPT PIP 1"
        - "PPT PIP 2"
      default_slide_scenename: "FULL PPT"
      cam_scenename: "CAMERA"
      program_check_delay: 0.1
    - service_type: "mic"
      input_stream:
        device: 1
        channels: 2
        samplerate: 48000
      read_frames: 144000
    - service_type: "mixing"
      rouge_1gram_weight: 0.9
      rouge_l_weight: 0.1
      slide2cam_threshold: 0.8
      slide2cam_delay: 1
    - service_type: "ocr"
      reader:
        lang_list:
          - "en"
      expect_frame_timeout: 5.0
    - service_type: "slide"
      diff_threshold: 5
      edge_threshold: 20
      full_black_threshold_mean: 36
      full_black_threshold_std: 5
    - service_type: "transcription"
      transcriber:
        client: {}
        model: "gpt-4o-transcribe"
        language: "en"
      run_delay: 0.1
