version: "1.0"
mixer:
  services:
    - service_type: "camera"
      camera:
        index: 2
      read_delay: 1.0
    - service_type: "interaction"
      interactor:
        software: "obs"
        host: "localhost"
        port: "4455"
        password: ${OBS_PASSWORD}
      slide_scenenames:
        - "FULL PPT"
        - "PPT PIP 1"
        - "PPT PIP 2"
      default_slide_scenename: "FULL PPT"
      cam_scenename: "CAMERA"
      program_check_delay: 0.1
    - service_type: "mic"
      input_stream:
        device: 1
        channels: 2
        samplerate: 48000
      read_frames: 144000
      preroll_seconds: 3.0
    - service_type: "mixing"
      slide2cam_scorer:
        scorer_type: "weighted_average"
        weight_scorer_set:
          - weight: 0.9
            scorer:
              scorer_type: "rouge_1gram"
              tolerance: 3
          - weight: 0.1
            scorer:
              scorer_type: "rouge_l"
      slide2cam_jury:
        jury_type: "or"
        juries:
          - jury_type: "threshold"
            threshold: 0.95
          - jury_type: "total_variation_threshold"
            threshold: 0.1
            length: 10
      slide2cam_delay: 1
    - service_type: "ocr"
      reader:
        lang_list:
          - "en"
      expect_frame_timeout: 5.0
    - service_type: "slide"
      diff_threshold: 5
      edge_threshold: 20
      full_black_threshold_mean: 36
      full_black_threshold_std: 5
    - service_type: "transcription"
      transcriber:
        client: {}
        model: "gpt-4o-transcribe"
        language: "en"
      run_delay: 0.1
    - service_type: "notification"
      notifier:
        notifier_type: "mqtt"
        host: ${MQTT_HOST}
        port: ${MQTT_PORT}
        base_topic: "automixer/events"
        qos: 1
        retain: false
        use_tls: false
        mqtt_version: 5
        # username: ${MQTT_USERNAME}
        # password: ${MQTT_PASSWORD}
      include_event_types:
        - "program_change"
